@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

html,
body
  height 100%

body
  margin 0
  min-width 500px
  background-color #2D2D2D
  color #eaeaea
  font-family 'Karla', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  ::selection
    background rgba(255, 255, 255, .1)
  ::-moz-selection
    background rgba(255, 255, 255, .1)